.PlayerDetails{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100vh;
    max-height: auto;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    background-color: rgba(59,59,59,1)
  }
  
  .details-name{
    color: rgba(59, 59, 59, 1);
    text-align: center;
    position: relative;
    font-size: 24px;
    font-weight: normal;
    width: auto;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    -webKit-transform: skewX(-25deg);
    background-color: rgba(255, 132, 59, 1);
  }
  
   .table .season, .table .team, .table .age, .table .gp, .table .g, .table .a,
  .table .pts, .table .plus_minus, .table .pim, .table .evg, .table .eva, .table .ppg, .table .ppa, .table .sh, .table .gw, .table .s, .table .s_percentage{
  
    border-bottom-color: rgba(59,59,59,1);
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 132, 59, 1);
  }

  .span-name{
    -webKit-transform: skewX(100deg);
  }
  

  .season{
    max-width: 150px;
    padding-top: 10px;
  }
  
  #season{
    background-color: rgba(255, 132, 59, 1);
  }
  
  .note{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
  }
  
  table .goalsper82, table .assistsper82, table .pointsper82{
    color: rgba(59,59,59,1)
  }
  
   .table .next-season, .table .projected-goals, .table .projected-assists, .table .projected-points, .table .projected-shots, .table .projected-shot-percentage{
    color: rgba(59,59,59,1);
    border-color: rgba(59,59,59,1);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(255, 132, 59, 1);
  }
  
  #projection-year{
    background-color: rgba(255, 132, 59, 1);
  }
  
  .details-name, .show-projections{
    color: rgba(59, 59, 59, 1);
    text-align: center;
    position: relative;
    font-size: 24px;
    font-weight: normal;
    width: auto;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    -webKit-transform: skewX(-25deg);
    background-color: rgba(255, 132, 59, 1);
  }

  .season-row:hover{
    animation-duration: 0.5s;
    animation-name: rowhover;
    animation-play-state: running;
    background-color: rgba(255, 80, 30, 0.7);
    animation-fill-mode: forwards;
  }

  @keyframes rowhover{
    0% {
      -webKit-transform: translate3d(0, -10, -10);
      transform: scale(1);
    }
    100% {
      -webKit-transform: translate3d(0, 0, 0);
      transform: scale(1.06);
    }
  }
  