
.home{
    background-image: url("../layout/background//Background.jpg");
    background-size: cover;
    background-color: rgba(59,59,59,1);
    height: auto;
    width: 100vw;
    margin-bottom: 45px;
    height: 100vh;
  }
  
  .playerbackground{
    width: auto;
    filter: opacity(12%) grayscale(30%) sepia(25%);
    height: 100vh;
    position:fixed;
    padding-right: 15vw;
  }

  .title {
    color: rgba(255,255,255,1);
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 300px;
  }
  
  .arrow{
    height: 25px;
    width: 25px;
    filter: grayscale(10%);
  }
  
  .top-10-number-header, .top-10-name-header, .top-10-points-header,  .top-10-season-header{
    font-size: 20px;
    line-height: normal;
    color: rgba(255,180,60,1);
    font-weight: lighter;
    padding-top: 10px;
    text-align: center;
  }
  
  
  .column{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top-10-card{
    border-style: solid;
    border-color: rgba(0,0,0,0);
    text-align:center;
    border-width: 0px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    height: 70px;
    background-color: rgba(59,59,59,1);
  }
  
  
  
  .top-10-number{
    color: rgba(255,255,255,1);
    font-weight: lighter;
    font-size: 30px;
    padding-top: 5px;
  }
  
  #root > div > div.home.top-10-header-row > div > div:nth-child(12){
    padding-bottom: 10vh;
  }
  
  .top-10-header-div{
    margin-top: 15vh;
    text-align: center;
    height: 7vh;
    padding-bottom: 10vh;
    color: rgba(200, 80, 30, 1);
    animation-name: headerdiv;
    animation-fill-mode: forwards;
    animation-play-state: running
  }
  
  @keyframes headerdiv{
    0% {top: 1000px}
    100% {top: 0px}
  }
  
  .top-10-header{
    font-size: 40px;
    animation-name: homeheader;
    animation-duration: 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transition: 2s;
  }
  @keyframes homeheader{
    0% {color: rgba(200, 80, 30, 0)}
    100% {color: rgba(200, 80, 30, 1)}
  }
  
  .top-10-header-row{
    padding-top: 100vh;
  }
  
  .top-10-row{
    background-color: rgba(200, 80, 30, 0.6);
    animation-name: top10cardrow;
    animation-duration: 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transition: 2s;
  }
  
  @keyframes top10cardrow{
    0% {background-color: rgba(200, 80, 30, 0.1)}
    100% {background-color: rgba(200, 80, 30, 0.7)}
  }
  
  .top-10-row:hover{
    animation-duration: 0.5s;
    animation-name: rowhover;
    animation-play-state: running;
    background-color: rgba(255, 80, 30, 0.7);
    animation-fill-mode: forwards;
  }
  
  @keyframes rowhover{
    0% {-webKit-transform: translate3d(0, -10, -10);}
    100% {-webKit-transform: translate3d(0, 0, 0);}
    0% {transform: scale(1);}
    100% {transform: scale(1.2);}
  }
  
  
  
  .top-10-name, .top-10-points{
    color: rgba(255,255,255,1);
    font-weight: lighter;
    font-size: 30px;
    height: 50px;
    padding-top: 5px;
  }
  
  .top-10-number, .top-10-name, .top-10-points{
    color: rgba(255,180,60,1);
    font-weight: lighter;
    animation-name: top10text;
    animation-duration: 2s;
    transition: 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }
  
  @keyframes top10text{
    0% {color: rgba(255,180,60,0)}
    100% {color: rgba(255,180,60,1)}
  }
  
  
  .top-10-name{
    margin-left:  100px;
    text-align: left;
  }
  