.mini-logo-div{
    margin-top: -9px;
  }
  
  .mini-logo{
    height: 100px;
    margin-bottom: -49px;
    transition: height 500ms;
    text-align: center;
    padding-left: 5%;
  }
  
  .logo-div{
    z-index: 2;
    margin-bottom: -49px;
  }
  
  #root > div > div:nth-child(1) > nav > a > div > img{
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .logo-div{
      height: 40px;
      width: auto;
    }
  
    .mini-logo{
      margin-top: -5px;
      height: 70px;
    }
  
    .main-logo-div{
      display: none;
    }
  
  }
  