
/* EXPANDED NAVIGATION BAR START */
.logo-expanded{
  height: 80px;
  width: auto;
}

.navigation-expanded{
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
}

.navigation-expanded-list a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

}

.navigation-expanded-list-item{
  display: inline;
  margin-right: 10px;
  float: right;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px;
  font-weight: 300;
}

.navigation-expanded-list-item:hover{
  color: rgba(50, 100, 200, 1);
  /* background-color: rgba(255, 255, 255, 0.1); */
}


/* EXPANDED NAVIGATION BAR END */


/* COLLAPSED NAVIGATION BAR START */

.logo-collapsed{
  height: 40px;
  width: auto;
  margin-left: 15px;
  margin-top: 15px;
}

.navigation-collapsed{
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top : 0px;
  width: 100%;
  z-index: 100;
}

.navigation-menu{
  height: 220px;
  margin-top: 12px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 40;
  animation-name: menu;
  animation-duration: 0.5s;
  transition: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards

}

@keyframes menu{
  0% {left: 400px}
  100% {left: 0%}
}




.navigation-collapsed-list{
  list-style-type: none;
  padding: 0px;
  text-align: center;


}

.navigation-collapsed-list a{
  text-decoration: none;
}

.navigation-button{
  border: 1px rgba(255 ,255 ,255 ,1) solid;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  float: right;
  padding: 10px;
  margin: 15px 15px 10px 20px;
  animation-duration: 0.5s;
  transition: 1s;
  z-index: 100;
}

.navigation-collapsed-list-item{
  margin-top: 10px;
  height: 30px;
  padding: 10px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 0px;
  letter-spacing: 2px;
}



.navigation-collapsed-list-item a:link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.navigation-collapsed-list a:visited{
  color: white;
  text-decoration: none;
}

.navigation-collapsed-list a:active li,
.navigation-expanded-list a:active li{
  background-color: rgba(100, 100, 255, 0.3);
  color: rgba(255, 255, 255, 1);
}

.navigation-collapsed-list-item{
  text-decoration: none;
}


/* COLLAPSED NAVIGATION BAR END */



/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .navigation-expanded{
    display: none;
  }
  .navigation-collapsed{
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .navigation-collapsed{
    display: none;

  }
}
